body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: left;
  color: midnightblue;
}

hr{
  background-color: blueviolet;
  height: 3px;
  border-radius: 50%;
}

.tile-image {
  height: 200px;
  margin-right: 50px;
  float: left;
}
.card{
  width: 45%;
}
.name{
  float: right;
}
.left{
float: left;
}

.right{
float: right;
}

h1{
  text-align: center;
}
.logo{
  width:320px;
  height: 300px;
  float: left;
  margin-right: 60px;
  margin-bottom: 30px;
}

.goal{
  font-size: 3em;
  background-color: burlywood;
  color: blueviolet;
  margin-bottom: 50px;
}
@media (max-width: 620px) {
  .logo {
    margin: 0;
    margin-bottom: 30px;
    width: 400px;
    display: block;
    text-align: center;
    clear: both;
    float: none;
  }

  h1 {
    clear: both;
    font-size: 3.5rem;
    text-align: center;
  }
  .goal{
    width:100%;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: center;
    object-fit: cover;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}